*{
    margin: 0;
}

header {
    background-color: #345ca1;
    color: white;
    padding: 10px;
    text-align: center;
}

footer {
    background-color: #345ca1;
    color: white;
    padding: 10px;
    text-align: center;
}

#noticias {
    width: 100%;
    height: 300px;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.323);

    /* Creacion de columnas para el elemento article */
    column-count: 3;
    column-gap: 20px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.noticias h3{
    color: #345ca1;
}

.noticias figure:hover {
    transform: scale(1.05);
    transition: 0.5s;
}

img {
    width: 100%;
    height: 80%;
}