*{
    margin: 0;

}

body{
    height: 100%;
    background-color: #535066;
}

.card{
    box-shadow: #000 0px 0px 15px;
    margin: auto;
    margin-top: 130px;
    height: 500px;
    background-color: aliceblue;
    width: 300px;
    border-radius: 30px;
}

.card-header{
    height: 250px;
    background-image: url("https://placehold.jp/3d4070/ffffff/1500x1500.png");
    background-color: #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px 10px 0px 0px;   
}

.card-header h2 {
    position: absolute;
    color: transparent;
    z-index: 1;
}

.card-header h2:hover {
    position: absolute;
    color: white;
    border: 2px solid white;
    padding: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.card-header h2:hover ~ .card-img {
    transform: translateX(10px);
}

.card-img{
    height: 250px;
    transition: transform 0.5s ease, filter 0.5s ease; /* Transiciones para el efecto */
}

h4{
    color: tomato;
}

.card-cont{
    font-family: 'Times New Roman', Times, serif;
    padding: 40px;
}

.card-cont-precio{
    display: flex;
    justify-content: space-between;
}

.price{
    color: #4977db;
    font-weight: bold;
    padding: 5px 10px 0px 0px;
}

.size{
    margin-top: 25px;
}

.color{
    margin-top: 30px;
}

.red{
    border: 1px solid red;
    background-color: red;
    border-radius: 50%;
    color: red;
    width: 10px;
    height: 10px;
    display: inline-block;
}

.green{
    border: 1px solid green;
    background-color: green;
    border-radius: 50%;
    color: green;
    width: 10px;
    height: 10px;
    display: inline-block;
}

.yellow{
    border: 1px solid yellow;
    background-color: yellow;
    border-radius: 50%;
    color: yellow;
    width: 10px;
    height: 10px;
    display: inline-block;
}

.blue{
    border: 1px solid blue;
    background-color: blue;
    border-radius: 50%;
    color: blue;
    width: 10px;
    height: 10px;
    display: inline-block;
}