*{
    margin: 0;
}

body{
    height: 100%;
    background-color: aliceblue;
}

.container{
    display: flex;
    border: 1px solid rgb(74, 31, 173);
    height: 500px;
    width: 40%;
}

.container div{
    height: 50px;
}

.item-1{
    flex: 1 1 100px;
    background-color: red;
}

/* Detalles de los valores de flex
    flex-grow: 1; => Cuanto crece el elemento respecto al espacio disponible
    flex-shrink: 1; => Cuanto se encoge el elemento respecto al espacio disponible
    flex-basis: 100px; => Tamaño base del elemento
*/

.item-2{
    flex: 2 2 200px;
    background-color: blue;
}

.item-3{
    flex: 1 1 100px;
    background-color: green;
}

.item-4{
    flex: 1 1 100px;
    background-color: yellow;
}