body {
    background-color: #181b1b;
    color: #373636;
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    color: rgb(150, 201, 11);
    font-family: 'Times New Roman', Times, serif, Helvetica, sans-serif;
    font-size: 50px;
}

p {
    color: hwb(0 65% 30%);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    text-align: justify;
}

h2 {
    color: hsl(249, 90%, 46%);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
}

strong {
    color: hsl(0, 79%, 45%);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

ol {
    color: #a8dadc;
    font-family: 'Courier New', Courier, monospace;
    font-size: 23px;
    text-align: justify;
}

dt {
    color: hsl(105, 74%, 26%);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}

dd {
    color: #e41fc4;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 23px;
}